#principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  background-color: #fbfaf8;
  text-align: center;
  flex-wrap: wrap;
  padding: 20px;
}

#buttonBack {
  color: #804e49;
  margin-top: 15px;
}

form {
  margin-top: 50px;
  justify-content: space-around;
}

#bigContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
}
