#principal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  background-color: #fbfaf8;
}

#buttonBack {
  color: #804e49;
  margin-top: 15px;
}

form {
  margin-top: 50px;
}
